@import url("https://fonts.googleapis.com/css2?family=Sacramento&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Cormorant:wght@300&display=swap');
* {
  background-color: rgb(221, 168, 168);
  margin: o;
  padding: o;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  width: 95vw;
}

.header {
  align-items: center;
  height: 10vh;
  width: 100%;

  &__logo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: Sacramento, cursive;
    font-weight: lighter;
    width: 100%;
    height: 29px;
    color: rgb(239, 237, 225);
  }

  &__button {
    width: 10vw;
    height: 3vh;
    background: white;
  }
  &__list {
    display: none;
  }

  &__nav {
    display: none;
  }
}

main {
  width: 95vw;
  border: 1px solid red;
}
.home {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  
  width: 100%;
  
  border: 1px solid black;

  &__page {
    background-color: white;
    width: 100%;
    font-size: 80px;
    font-weight: 400;
    text-decoration: underline;
    text-decoration-thickness: ;
    font-family: cormorant;
    word-spacing: 4rem;
    height: 50vh;

   

    &__p1 {
      background-color: aqua;
      height: 20vh;
      text-align-last: start;
    }
  }
}

.portfolio {
  height: 50vh;
  border: 1px solid black;
}

.footer {
  display: flex;
  height: 10vh;
  border: 1px solid black;
  justify-content: center;
}

.about {
  display: flex;
  height: 10vh;
  border: 1px solid black;
  justify-content: center;
}

.contact {
  display: flex;
  height: 10vh;
  border: 1px solid black;
  justify-content: center;
}
