@import url("https://fonts.googleapis.com/css2?family=Sacramento&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant:wght@300&display=swap");

* {
  background-color: #1a4341;
  margin: o;
  padding: o;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  width: 95vw;
}

.header {
  align-items: center;
  height: 4vh;
  width: 100%;

  &__mobile {
    display: flex;
    flex-direction: row;
    align-items: center;
  
  }

  &__logo {
    display: flex;
    justify-content: left;
    font-family: Sacramento, cursive;
    font-weight: lighter;
    width: 100%;
    height: 29px;
    color: rgb(239, 237, 225);
  }

  &__menu {
    display: flex;
    justify-content: right;
    width: 50vw;
    height: 3vh;
    background: none;
  }

  &__list {
    display: none;
  }

  &__nav {
    display: none;
  }
}

main {
  width: 95vw;
  border: 1px solid red;
}
.home {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  border: 1px solid black;

  &__page {
    background-color: white;
    width: 100%;
    font-size: 80px;
    font-weight: 400;
    font-family: cormorant;
    height: 35vh;
    border-bottom: 4px solid black;
  }

  &__p1 {
    background-color: darkslategray;
    height: 13vh;
    align-items: center;
    text-align: left;
  }
}

.portfolio {
  height: 25vh;
  border: 1px solid black;
  display: flex;
  flex-direction: column;

  &__header{
    background-color: pink;
    display: flex;
    justify-content: flex-start;
    height: 4vh;
    width: 100%;
  }
 
  &__title{
    padding-right: 30px;
    font-size: medium;
    
  }

  &__arrow-image{
    background-color: none;
  
  }

  &__box1{
    background-color: aquamarine;
    display: flex;
    width: 100%;
    align-items: center;
  }

  &__one{
    background-color: peru;
    display: flex;
    flex-direction: row;

  }

  &__pro1 {
    flex-direction: row;
    width: 100%;
    
  }

  &__pro1-icons{
    flex-direction: row;
    background-color: azure;
    justify-content: flex-end;

    

    

  

  &__eye-icon{
    
    background-color: red;
    

  }

  &__code{
    
    background-color: blue;
    

  }

  &__button1{

  }

  &__R1{

  }

  &__SCSS1{

  }

}

.footer {
  display: flex;
  height: 10vh;
  border: 1px solid black;
  justify-content: center;
}

.about {
  display: flex;
  height: 5vh;
  border: 1px solid black;
  justify-content: center;
}

.contact {
  display: flex;
  height: 10vh;
  border: 1px solid black;
  justify-content: center;
}